@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .cart-btn {
    @apply py-1 px-3 rounded-lg bg-slate-200 cursor-pointer hover:bg-slate-300 transition-all
  }

  .green-btn {
    @apply mt-10 p-10 py-3 rounded-md bg-green-500 text-slate-50 hover:bg-green-600 transition-all
  }
}

input, button, img, a {
  outline: none;
}

.slick-next, .slick-prev {
  width: 40px !important;
  height: 40px !important;
  top: auto !important;
  bottom: -80px;
  z-index: 1;
  opacity: .3;
}

.slick-next:hover, .slick-prev:hover {
  opacity: 1;
}

.slick-next {
  right: -10px !important;
}

.slick-prev {
  left: -10px !important;
}
